.Footer{
	width: 100vw;
	height: auto;
	min-height: 60px;
	max-height: 40vh;
	position: fixed;
	bottom: 0;
	background-color: hsl(210, 11%, 15%);
	padding: auto;
}

@mixin footer_block {
	margin-top: 3vh;
	margin-bottom: 3vh;
	max-height: 40vh;
}

@mixin footer_text_color {
	color: #9B9D9E;
}

.footer_text{
	list-style: none;
	@include footer_text_color();
}

.footer_ul{
	font-weight: bolder;
	@include footer_text_color();
}

.footer_logo{
	@include footer_block();
	height: auto;
}